body {
}


.mobile-menu {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 7px 0;
}

.container-mobile-menu {
    margin: 10px 0 0 10px;
}

.section-1 {
    background-image: url(coffee-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.section-2 {
    background-image:  url(coffee-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.section-3 {
    background-image: url(coffee-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

footer {
    background-image: url(coffee-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
