* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    width: 100vw;
    min-width: 320px;
}

h1, h2, h3 {
    font-family: 'Chivo', Arial, sans-serif;
}

a, p {
    font-family: 'Ubuntu', sans-serif;
}
/*** SECTION 1 ***/
.section-1 {
    background: url(coffee-front.jpg) no-repeat center center fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.34);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.container-mobile-menu {
    margin: 20px 0 0 20px;
}

.mobile-menu {
    width: 25px;
    height: 3px;
    background-color: #EBD8C6;
    margin: 7px 0;
}

nav { /*navigation menu which is a hamburger menu in mobile*/
    display: none;
}

.first-page {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    color: white;
}

.first-page-heading > h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Chivo', Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 50px;
    margin: 0px;
}

.first-page > p {
    margin-top: 30px;
    font-size: 16px;
}

/*** SECTION 2 ***/
.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(pour-coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 25px;
}

.section-2 .title {
    position: relative;
    left: 20px;
    top: 25px;
}


.nutrition {
    font-size: 40px;
    
}

.section-2 h1 {
    font-size: 20px;
    font-family: 'Chivo', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
}

.content p {
    font-size: 20px;
    line-height: 5px;
    margin: 0 0 50px 20px;
    font-weight: 200;
    letter-spacing: 1px;
    font-weight: 300;
}

.light {
    font-weight: 100;
    font-size: 18px;
}

/*** SECTION 3 ***/
.section-3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kopi-luwak {
    height: 50vh;
    width: 90vw;
    object-fit: contain;
    margin: 20px 0px;
}

.page-3-content {
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
}

.page-3-content > h1 {
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    margin: 0px;
}

.page-3-content > h1:nth-child(1) {
    margin-top: 20px;
} 

.page-3-content > p {
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
    line-height: 1.8;
}

.page-3-content .poop {
    font-size: 60px;
}
 
/*** SECTION 4 ***/

.section-4 {
    height: 150vh;
}

.left-section-4 {
    background: url(coffee9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.middle-section-4 {
    background: url(coffee-and-coffee-beans.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
}

.right-section-4 {
    background: url(coffee8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
}

/*** FOOTER ***/
footer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.left-footer {
    background: url(bean-image.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.40);
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
}

.right-footer {
    background: url(coffee4.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed;
    background-size: cover;
    box-shadow: inset 0 0 0 3000px rgba(0, 0, 0, 0.90);
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
}

.left-footer > h2, .right-footer > h2 {
    font-family: 'Chivo', Arial, sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 32px;
}

.right-footer > h3 {
    color: rgb(187, 148, 112);
}

.left-footer > p, .right-footer > p {
    color: white;
}

/*** LARGER SCREENS ***/
@media screen and (min-width: 600px) { 

    /*  section 1 */

    header {
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .container-mobile-menu {
        display: none;
    }

    .icon {
        display: none;
    }

    nav { /*navigation menu which is a hamburger menu in mobile*/
        display: flex;
        justify-content: center;
    }
    
    nav > a {
        color: rgb(206, 183, 162);
        text-decoration: none;
        text-transform: uppercase;
        border: 0px solid #EBD8C6;
        border-radius: 20px;
        padding: 10px 10px;
        margin: 0px 40px;
        z-index: 1;
    }

    .first-page-heading { /* puts h1 on one row instead of two like in mobile */
        display: flex;
        justify-content: center;
    }

    .first-page-heading > h1 {
        font-size: 60px;
    }

    .first-page-heading > h1:nth-child(1) {
        margin-right: 15px;
    }

    .first-page > p {
        font-size: 18px;
    }

    /* section 2 */

    .section-2 {
        display: flex;
        flex-direction: row;
        align-items: space-between;
    }
    .section-2 .title {
        position: relative;
        left: 15%;
        top: 15%;
    }
    
    .nutrition {
        font-size: 60px;
    }
    
    .content p{
        position:relative;
        top: 50%;
        right: 250px;
        font-size: 30px;
        line-height: 10px;
        font-weight: 200;
        letter-spacing: 2px;
    }

    .light {
        font-weight: 100;
        font-size: 28px;
    }
    
    p:nth-child(5){
        font-size: 40px;
        font-weight: bold;
    }

    /* section 3 */

    .section-3 {
        display: flex;
        flex-direction: row;
    }    

    .kopi-luwak {
        height: 100vh;
        width: 50vw;
        object-fit: contain;
    }

    .page-3-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page-3-content > h1 {
        text-align: left;
        font-size: 40px;
    }

    .page-3-content > h1:nth-child(1) {
        margin-top: 0px;
    } 

    .page-3-content > p {
        text-align: left;
        font-size: 16px;
    }

    /* section 4 */

    .section-4 {
        height: 50vh;
        width: 100vw;
        display: flex;
    }
    
    .left-section-4 { 
        height: 50vh;
        width: 50vw;
    }

    .middle-section-4 {
        height: 50vh;
        width: 50vw;
    }

    .right-section-4 {
        height: 50vh;
        width: 50vw;
    }

    /* footer */

    footer {
        height: 75vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
    }
    
    .left-footer {
        height: 75vh;
        width: 50vw;
    }
    
    .right-footer {
        height: 75vh;
        width: 50vw;
    }
}